<div class="modal fade" id="iconModal" tabindex="-1" role="dialog" aria-labelledby="iconModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="iconModalLabel">İkon Listesi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Aşağıdaki formata uygun kullanınız.</p>
                <ul>
                    <li><strong>im im-facebook</strong> - Facebook</li>
                    <li><strong>im im-twitter</strong> - Twitter</li>
                    <li><strong>im im-instagram</strong> - Instagram</li>
                    <li><strong>im im-linkedin</strong> - Linkedin</li>
                    <li><strong>im im-github</strong> - Github</li>
                    <li><strong>im im-pinterest</strong> - Pinterest</li>
                    <li><strong>im im-youtube</strong> - YouTube</li>
                    <li><strong>im im-twitch</strong> - Twitch</li>
                    <li><strong>im im-skype</strong> - Skype</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap ve jQuery Scriptleri -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
