@model Admin
<div class="preloader" id="loader5">
    <div class="loader"></div>
</div>
<body>
    <!-- Login Form -->
    <div class="limiter">
        <div class="container-login100" style="background-image: url('https://i.hizliresim.com/6c7642q.png');">
            <div class="wrap-login100 p-t-30 p-b-50">
                <span class="login100-form-title p-b-41">
                    Sisteme Giriş
                </span>
                <form id="loginForm" asp-controller="Login" asp-action="Index">
                    <div class="login100-form validate-form p-b-33 p-t-5">
                        <div class="wrap-input100 validate-input">
                            <input class="input100" type="email" id="AdminMail" name="AdminMail" placeholder="Mailiniz" required>
                            <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                        </div>
                        <div class="wrap-input100 validate-input">
                            <input class="input100" type="password" id="AdminPassword" name="AdminPassword" placeholder="Şifreniz" required>
                            <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                        </div>

                        <div class="container-login100-form-btn m-t-32">
                            <div onclick="LoginSubmit()" id="adminlogin" class="login100-form-btn button12">
                                Giriş Yap
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- JavaScript -->
    <script>
        function LoginSubmit() {
            const formData = {
                AdminMail: document.getElementById("AdminMail").value,
                AdminPassword: document.getElementById("AdminPassword").value
            };
            fetch('/Login/Index', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            })
                .then(response => response.json()) // Sunucudan gelen JSON verisini işleyin
                .then(data => {
                    var AdminMail = document.getElementById("AdminMail");
                    var AdminPassword = document.getElementById("AdminPassword");
                    var loader = document.getElementById("loader5");
                    if (data.success) {
                        loader.style.display = 'flex';
                        if (AdminMail.value.length > 0 && AdminPassword.value.length > 0) {
                            window.setTimeout(function () {
                                window.location.href = "/Dashboard/Index";
                            }, 1000);
                        } else {
                            alert("Eksik alan bırakmayınız!");
                        }
                        
                    } else {
                        if (AdminMail.value.length > 0 && AdminPassword.value.length > 0) {
                            alert("Kullanıcı adı veya şifre yanlış!");
                        } else {
                            alert("Eksik alan bırakmayınız!");
                        }
                    }
                })
                .catch(error => {
                    console.error("Hata:", error);
                    alert("Bir hata oluştu. Lütfen tekrar deneyin.");
                });

        }
    </script>
</body>