@model Skill
@{
    ViewData["Title"] = "CreateSkill";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Projelerim</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Deneyim Ekleme Sayfası</div>
                    </div>
                    <div class="card-body">

                        <form method="post">
                            <input type="hidden" asp-for="SkillId" />

                            <label>Programlama Dili</label>
                            <input type="text" asp-for="Title" class="form-control" />
                            <br />

                            <label>Başarı Yüzdesi</label>
                            <input type="number" asp-for="Value" class="form-control" />
                            <br />

                            <button class="btn btn-primary">Yeteneği Ekle</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

