<section id="stats" class="s-stats">
    <div class="row block-1-3 block-tab-1-2 block-mob-full stats">

        <div class="col-block stats__col">
            <div class="stats__count">
                @ViewBag.v1
            </div>
            <h4>Yetenekler</h4>
        </div>
        <div class="col-block stats__col stats__col--highlight">
            <div class="stats__upsign">
                <a href="#"><i class="im im-arrow-up" aria-hidden="true"></i></a>
            </div>
            <div class="stats__count">
                @ViewBag.v6
            </div>
            <h4>Tamamlanan Projeler</h4>
        </div>
        <div>
            <button style="width: 33%; padding: 142px; font-size: 16px; display: flex; justify-content: center; align-items: center; ">
                <a href="https://localhost:7071/Login/Index" target="_blank">Admin Sitesine Git</a>
            </button>
        </div>
    </div>
</section>